:root {
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
}

canvas {
    display: block;
}

.title {
    font-family: "Abril Fatface", serif;
    color: white;
    position: absolute;
}

button {
    position: absolute;
}