:root {
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #ffffff2f;
    transition: 0.5s ease;
    transform: translateX(-180px);
    z-index: 1;

}

h1 {
    font-family: "Abril Fatface", serif;
    color: white;
    pointer-events: none;
    padding: 30px 0 0 0;
    z-index: 1;
}

ul li {
    list-style: none;
    color: white;
    /*display: block;*/
    transition: 0.2s ease-out;
}

#menu {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 2;
    cursor: pointer;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    user-select: none;
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: black;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
} 

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
} 

input:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.playpause {
    height: 30px;
    width: 30px;
    top: 20px;
    right: 17px;
    background-color: white;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    position: absolute;
    transition: 0.3 ease-in-out;
    clip-path: polygon(
        0 0,
        50% 25%,
        50% 75%,
        50% 75%,
        50% 25%,
        100% 50%,
        100% 50%,
        0 100%,
        100% 50%,
        0 100%
    );
}

.playpause.playing {
    clip-path: polygon(
        0 0,
        40% 0,
        40% 100%,
        60% 100%,
        60% 0,
        100% 0,
        100% 100%,
        0 100%
    );
}

.playpause:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 18px rgba(0,0,0,0.22);
}

.reset {
    height: 35px;
    width: 35px;
    right: 15px;
    top: 60px;
    border-radius: 10px;
    background-color: white;
    z-index: 1;

    cursor: pointer;
    user-select: none;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reset img {
    width: 80%;
    height: 80%;
}

.reset:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 18px rgba(0,0,0,0.22);
}

.container {
    top: 70px;
    right: 0px;
    transform: rotate(270deg);
    position: absolute;
    z-index: 1;
}

.monitor {
    display: block;
    position: relative;
}

button {
    position: absolute;
}

.title {
    position: absolute;
}