:root {
    overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#sim-container {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#sky {
    opacity: .5;
    height: 100%;
}

#sun {
    position: absolute;
    height: 10%;
}